  <%= form_with local: true do |f|%>

  <div class="field">
    <div class="field_with_errors"><label for="prototype_title">プロトタイプの名称</label></div><br>
    <div class="field_with_errors"><input type="text" value="" name="prototype[title]" id="prototype_title"></div>
  </div>

  <div class="field">
    <div class="field_with_errors"><label for="prototype_catch_copy">キャッチコピー</label></div><br>
    <div class="field_with_errors"><textarea class="form__text" name="prototype[catch_copy]" id="prototype_catch_copy"></textarea></div>
  </div>

  <div class="field">
    <div class="field_with_errors"><label for="prototype_concept">コンセプト</label></div><br>
    <div class="field_with_errors"><textarea class="form__text" name="prototype[concept]" id="prototype_concept"></textarea></div>
  </div>

  <div class="field">
    <div class="field_with_errors"><label for="prototype_image">プロトタイプの画像</label></div><br>
    <div class="field_with_errors"><input type="file" name="prototype[image]" id="prototype_image"></div>
  </div>

  <div class="actions">
    <input type="submit" name="commit" value="保存する" class="form__btn" data-disable-with="保存する">
  </div>
</form>
  </div>
<% end %>