<div class="card">
  <%= link_to image_tag("プロトタイプの画像", class:'ActiveStorage' if message.image.attached?), root_path%>
  <div class="card__body">
    <%= link_to "プロトタイプのタイトル",  title.root_path, class: :card__title%>

    <p class="card__summary">
      <%= "プロトタイプのキャッチコピー" %>
    </p>
    <%= link_to "by プロトタイプの投稿者名", .user.name root_path, class: :card__user %>
  
  </div>
</div>