<div class="main">
  <div class="inner">
    <div class="form__wrapper">
      <h2 class="page-heading">新規プロトタイプ投稿</h2>
     <form enctype="multipart/form-data" action="/prototypes" accept-charset="UTF-8" method="post"><input type="hidden" name="authenticity_token" value="erddwF99GJPBezzhHE4/NAyJtSpOf+ZCOtvGQLtgmodWOmw2Vxe74bwE0lnvHQFCGneR3nhBjVTSiLqoahO9lQ==">

        <%= render partial:  "prototypes/form" , locals: { prototype: @prototype } %>
    <a class="btn" href="/">投稿一覧へ戻る</a>
    </div>
  </div>
</div>